@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Titan+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animate1{
    animation: animate1 0.5s ;
}

@keyframes animate1{
    0%{
        opacity: 0;
        transform: scale(0.5) translateX(-100%);
        /* translateX: -100%; */
    }
    100%{
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 00px 50px;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    /* background: linear-gradient(151deg, rgba(0, 0, 0, 0.8) 10%, rgba(122, 122, 122, 0.8) 50%, rgba(0, 0, 0, 0.8) 90%); */
    color: #fff;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    padding: 0;
    overflow: hidden;
    gap: 10px;
}

.Philospher-700 {
    font-family: "Philosopher", sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.about-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 20px;
}

.about-text-header {
    font-size: 2rem;
    color: #ffffff00;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.573);
    text-align: left;
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 55, 255));
    background-clip: text;
    text-transform: uppercase;
}

.about-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;

    object-fit: contain;
}

.about-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
}

.image-animation {
    transition: transform 0.5s ease;
}

.image-animation:hover {
    transform: scale(1.2);
}

.about-para{
    text-align: center;
}

.about-button a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.about-button a::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleY(1);
}

.about-button a:hover::before {
    transform: scaleY(0);
}

.about-button a::after {
    content: "";
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background-color: #212121;
    transition: 0.3s ease-in-out;
    transform: scaleX(1);
    transition-delay: 0.5s;
}

.about-button a:hover::after {
    transform: scaleX(0);
}

.about-button a span {
    position: relative;
    z-index: 3;
}

.about-button {
    background-color: none;
    text-decoration: none;
    background-color: #212121;
    border: none;
}

@media screen and (max-width: 768px) {
    .about-container {
        /* flex-direction: column; */
        height: auto;
        flex-direction: column-reverse;
    }
    .Philospher-700 {
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .about-text-wrapper {
        width: 100%;
        height: 50%;
    }
    .about-image-wrapper {
        width: 100%;
        height: 50%;
    }
}
