*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    gap: 10px;
    background: #292626;
    color: #fff;
}

.footer-wrapper .footer-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.footer-links{
    display: flex;
    gap: 1px;
    flex-direction: column;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
/* .footer */